{% extends "master.html" %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}

<ul class="list-group">
    <li class="list-group-item">Name : {{ name }}</li>
    <li class="list-group-item">Age : {{ age }}</li>
    <li class="list-group-item">Job : {{ job }}</li>
    <li class="list-group-item">Address : {{ address }}</li>
    <li class="list-group-item">Skills : {% for skill in skills %} {{ skill }}, {% endfor %}</li>
    </li>
</ul>
<br>
<a class="btn btn-primary" href="{% url 'blog.about' %}">About Us</a>
<a class="btn btn-primary" href="{% url 'blog.register' %}">Create New Account</a>
<a class="btn btn-primary" href="{% url 'blog.login' %}">Login</a>
<a class="btn btn-primary" href="{% url 'todolist.all' %}">Menu</a>
<br>
<div style="margin-top: 20px;">
    <img src="{{ MEDIA_URL }}car.jpg" alt="">
</div>
{% endblock %}